body{
  background-color: rgb(40,40,48);
}
h1{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 10px;
}
h3{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 7px;
}
h4{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 7px;
}
a{
  color: white;
}
p{
  color: rgb(230,230,230);
}
