body{
  background-color: rgb(40,40,48);
  font-family: Arial, sans-serif;
}
h1{
  color: white;
  background-color: rgb(20,20,30);
  border-radius: 7px;
  display: inline;
}
h3{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 7px;
}
h4{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 7px;
}
a{
  color: white;
}
p{
  color: rgb(230,230,230);
}
#sidebar, #content{
  position: absolute;
}
#sidebar{
  border-right: 3px solid rgb(10,10,30);
  width: 238px;
  height: 700px;
}
#heading{
  border-bottom: 3px solid rgb(10,10,30);
  border-radius: 0px;
}
#content{
  left: 315px;
  top: 232px;
}
