body{
  background-color: rgb(40,40,48);
  font-family: Arial, sans-serif;
}
h1{
  color: white;
  background-color: rgb(20,20,30);
  font-size: 1625%;
  display:inline;
  border-radius: 7px;
}
h3{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 7px;
}
h4{
  color: white;
  background-color: rgb(20,20,30);
  display:inline;
  border-radius: 7px;
}
a{
  color: white;
}
p{
  color: rgb(230,230,230);
}
